/**********************************

0.リセットcss

1.共通

**********************************/

/*--------------------------------
  0.リセットcss
--------------------------------*/
/* Box sizingの定義 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* デフォルトのpadding,margin,borderを削除 */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

/* フォントのcssリセット */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* bodyのデフォルトを定義 */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.5;
}

/* class属性を持つul、ol要素のリストスタイルを削除 */
ul[class],
ol[class] {
  list-style: none;
}

/* img要素の扱いを簡単にする */
img {
  max-width: 100%;
  display: block;
}

/* article要素内の要素に自然な流れとリズムを定義 */
article > * + * {
  margin-top: 1em;
}

/* inputやbuttonなどのフォントは継承を定義 */
input,
button,
textarea,
select {
  font: inherit;
}

/* リンクの下線表示を無くす */
a:link,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
}

/* レイアウトリセット */
article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

/*--------------------------------
  1.共通
--------------------------------*/

/* 1-1.フォント
--------------------------------*/

/*----- 使用中のgoogle fonts -----*/
/* font-family: "Kosugi Maru", sans-serif; */

/* 1-2.レイアウト
--------------------------------*/
.site-width {
  margin: 0 auto;
  width: 980px;
}

/*--------------------------------
  1.header
--------------------------------*/
.header {
  border-bottom: 1px solid #aaa;
  width: 100%;
  height: 80px;
}

.header-wrap {
  position: relative;
  height: 100%;
}

.logo {
  font-family: "Kosugi Maru", sans-serif;
  font-size: 2.5em;
  letter-spacing: 0.08em;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

/* ナビゲーション
--------------------------------*/

.header-nav {
  float: right;
  height: 100%;
  position: relative;
  width: 200px;
}

.header-ul {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.header-ul-a {
  background: #ccc;
  border-radius: 0.5em;
  display: block;
  padding: 0.3em 0.5em;
}

/*--------------------------------
  2.2colum
--------------------------------*/
.main-container {
  overflow: hidden;
  position: relative;
}

/* サイドバー
--------------------------------*/
.side {
  background: #eee;
  border-radius: 10px;
  float: left;
  height: 480px;
  margin-top: 30px;
  margin-right: 24px;
  padding: 13px;
  width: 200px;
}

.side-h2 {
  /* 縦線案 border-leftに色と太さ入れるだけ、お手軽版 */
  /* border-left: solid 4px #09c; */
  font-size: 1.8rem;
  margin-bottom: 3px;
  padding-left: 8px;
  position: relative;
}

/* 左側の縦線 */
.side-h2::before {
  background: #09c;
  border-radius: 3px;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
}

.side-title {
  font-size: 1.7rem;
}
.side-group-wrap {
  margin-bottom: 13px;
}

.side-group {
  margin-left: 20px;
  margin-bottom: 6px;
}

.side-border {
  border: 1px solid #999;
  border-radius: 3px;
}

/* セレクトボックス */
.selectbox,
.side-input-date {
  position: relative;
  width: 95%;
}

/* selectbox右の矢印みたいな記号 */
.selectbox::before,
.side-input-date::before {
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  content: "";
  height: 10px;
  pointer-events: none;
  position: absolute;
  top: 6px;
  right: 10px;
  transform: rotate(+45deg);
  width: 10px;
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: inherit;
  cursor: pointer;
  font-size: 1.3rem;
  outline: none;
  padding: 3px 0 3px 10px;
  text-overflow: "";
  width: 100%;
}

/* 期間の「〜」 */
.span-sidebar {
  display: block;
  position: relative;
  left: 50px;
  text-align: center;
  transform: rotate(-90deg);
  width: 20px;
}

/* カレンダー */
.input-date {
  font-size: 1.5rem;
  padding: 0.5px 0 0.5px 5px;
  width: 100%;
}
/* 日付リセット */
.input-date::-webkit-clear-button {
  appearance: none;
  -webkit-appearance: none;
}

/* 上下矢印キー */
.input-date::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* カレンダーを開く */
.input-date::-webkit-calendar-picker-indicator {
  background: transparent;
  color: transparent;
  cursor: pointer;
  height: 100%;
  margin: auto;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* チェックボックス */
.sidebar-checkbox-font {
  font-size: 1.55rem;
}

/* 検索ボタン */
.sidebar-submit {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 25px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  float: right;
  font-size: 1.35rem;
  padding: 3px;
  position: relative;
  top: 7px;
  right: 0;
  width: 60px;
}

/* メイン
--------------------------------*/
.main {
  float: left;
  width: 736px;
}
