/**********************************

0.リセットcss

1.共通

**********************************/

/*--------------------------------
  0.リセットcss
--------------------------------*/
/* Box sizingの定義 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* デフォルトのpadding,margin,borderを削除 */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

/* フォントのcssリセット */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* bodyのデフォルトを定義 */
body {
  min-height: 100%;
  scroll-behavior: smooth;
  line-height: 1.5;
}

/* class属性を持つul、ol要素のリストスタイルを削除 */
ul[class],
ol[class] {
  list-style: none;
}

/* img要素の扱いを簡単にする */
img {
  max-width: 100%;
  display: block;
}

/* article要素内の要素に自然な流れとリズムを定義 */
article > * + * {
  margin-top: 1em;
}

/* inputやbuttonなどのフォントは継承を定義 */
input,
button,
textarea,
select {
  font: inherit;
}

/* リンクの下線表示を無くす */
a:link,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
}

/* レイアウトリセット */
article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

/* aのカーソルを変更 */
a {
  cursor: pointer;
}

/*--------------------------------
  共通
--------------------------------*/

/* フォント
--------------------------------*/

/*----- 使用中のgoogle fonts -----*/
/* font-family: "Kosugi Maru", sans-serif; */

/* レイアウト
--------------------------------*/
.site-width {
  margin: 0 auto;
  width: 980px;
}

.label {
  display: block;
}

.submit {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.spread-a {
  display: block;
}

/*--------------------------------
  header
--------------------------------*/
.header {
  border-bottom: 1px solid #aaa;
  width: 100%;
  height: 80px;
}

.header-wrap {
  position: relative;
  height: 100%;
}

.logo {
  font-family: "Kosugi Maru", sans-serif;
  font-size: 2.5em;
  letter-spacing: 0.08em;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

/* ナビゲーション
--------------------------------*/

.header-nav {
  float: right;
  height: 100%;
  position: relative;
  width: 300px;
}

.header-ul {
  overflow: hidden;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.header-li {
  border: 2px solid #aaa;
  border-radius: 10px;
  display: block;
  float: left;
  text-align: center;
}

.header-li:not(:last-child) {
  margin-right: 25px;
}

.header-a {
  display: block;
  padding: 0.3em 1em;
}
/*--------------------------------
  colum
--------------------------------*/
.main-container {
  overflow: hidden;
  position: relative;
  padding-top: 30px;
}

/*--------------------------------
  サイドバー
--------------------------------*/
.side {
  border-radius: 10px;
  float: left;
  margin-right: 24px;
  width: 200px;
}

.side.-index {
  background: #eee;
  padding: 15px 13px;
  padding-bottom: 25px;
}

.side.-mypage {
  background: #433;
  color: #fff;
}

.side-group-mypage {
  padding: 30px 10px;
  position: relative;
}

/* .side-group-mypage:first-child {
  padding-top: 20px;
} */

.side-group-line {
  border-bottom: solid 1.5px #dcc;
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 160px;
}

.group-user-profile {
  overflow: hidden;
  margin-bottom: 20px;
}

.group-user-profile-media {
  float: left;
  height: 50px;
  margin-right: 10px;
  width: 50px;
}

.group-user-profile-body {
  float: left;
  height: 50px;
  padding-top: 5px;
}

.side-h2 {
  /* 縦線案 border-leftに色と太さ入れるだけ、お手軽版 */
  /* border-left: solid 4px #09c; */
  font-size: 1.8rem;
  margin-bottom: 3px;
  padding-left: 8px;
  position: relative;
}

/* 左側の縦線 */
.side-h2::before {
  background: #09c;
  border-radius: 3px;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
}

.side-title {
  font-size: 1.7rem;
}

.p-group-user-profile {
  font-size: 1.5rem;
}

.p-group-user-profile.-username {
  margin-bottom: 2px;
}

.side-group-wrap {
  margin-bottom: 13px;
}

.side-group {
  margin-left: 20px;
  margin-bottom: 6px;
}

.side-border {
  border: 1px solid #999;
  border-radius: 3px;
}

/* ul */
.ul-mypage-side {
  font-size: 1.6rem;
  text-align: center;
}

.a-side-group-mypage {
  display: block;
  height: 40px;
  line-height: 40px;
}

.a-side-group-mypage.is-active {
  background: #988;
}

.a-side-group-mypage:hover {
  background: #988;
}

/* セレクトボックス */
.selectbox,
.side-input-date {
  position: relative;
}

.selectbox.-index,
.side-input-date {
  width: 95%;
}

/* selectbox右の矢印みたいな記号 */
.selectbox::before,
.side-input-date::before,
.wrap-input-date-mypage::before {
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  content: "";
  height: 10px;
  pointer-events: none;
  position: absolute;
  top: 6px;
  right: 10px;
  transform: rotate(+45deg);
  width: 10px;
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff;
  color: inherit;
  cursor: pointer;
  font-size: 1.3rem;
  outline: none;
  padding: 3px 0 3px 10px;
  text-overflow: "";
  width: 100%;
}

/* 期間の「〜」 */
.span-sidebar {
  display: block;
  position: relative;
  left: 50px;
  text-align: center;
  transform: rotate(-90deg);
  width: 20px;
}

/* カレンダー */
.input-date {
  font-size: 1.5rem;
  padding: 0.5px 0 0.5px 5px;
  width: 100%;
}
/* 日付リセット */
.input-date::-webkit-clear-button {
  appearance: none;
  -webkit-appearance: none;
}

/* 上下矢印キー */
.input-date::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* カレンダーを開く */
.input-date::-webkit-calendar-picker-indicator {
  background: transparent;
  color: transparent;
  cursor: pointer;
  height: 100%;
  margin: auto;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* チェックボックス */
.sidebar-checkbox-font {
  font-size: 1.55rem;
}

/* ボタン */
.button {
  width: 100%;
}

.group-user-regist_event {
  background: #fc3;
  border-radius: 15px;
  border-style: none;
  color: #433;
  cursor: pointer;
  text-align: center;
  padding: 3px 0;
}

.group-user-regist_event:hover {
  background: #fda;
}

/* 検索ボタン */
.sidebar-submit {
  background: #fff;
  border-radius: 25px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
  float: right;
  font-size: 1.35rem;
  padding: 3px;
  position: relative;
  top: 7px;
  width: 60px;
}

.sidebar-submit:hover {
  cursor: pointer;
}

/* 画像 */
.img.-mypage-profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.a-group-user {
  display: block;
}

.a-group-user:hover {
  opacity: 0.6;
}

/* 補足 */
.supp {
  font-size: 1rem;
}

/* メイン
--------------------------------*/
.page-1colum .main {
  width: 100%;
}

.page-2colum .main {
  float: left;
  width: 736px;
}

.main-title {
  font-size: 2.3rem;
  letter-spacing: 0.05em;
}

.main-form-container {
  margin: 0 auto;
  margin-bottom: 0;
  padding-top: 50px;
  width: 500px;
}

/* ページネーション
--------------------------------*/
.pagination {
  height: 50px;
  margin-top: 40px;
  position: relative;
  width: 100%;
}

.pagination-list {
  font-size: 1.8rem;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list-item {
  float: left;
}

.list-item:not(:last-child) {
  margin-right: 15px;
}

.a-pagination {
  background: #ccc;
  border-radius: 50%;
  font-size: 1.5rem;
  display: block;
  height: 35px;
  line-height: 35px;
  text-align: center;
  width: 35px;
}

.pagination .active .a-pagination {
  color: #fff;
  background: #444;
}

/*--------------------------------
  footer
--------------------------------*/
.footer {
  background: #333;
  color: #eee;
  font-size: 1.4rem;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  padding-bottom: 100px;
  position: relative;
}

/*--------------------------------
  index
--------------------------------*/
.search-title {
  border-left: 5px solid #999;
  border-bottom: 1px dotted #999;
  margin: 0 5px 10px 5px;
  overflow: hidden;
  padding: 5px 8px 3px 10px;
}

.search-left {
  float: left;
}

.search-right {
  float: right;
  font-size: 1.5rem;
  position: relative;
  top: 10px;
}

.panel-list {
  overflow: hidden;
  margin-right: -25px;
}

.panel {
  float: left;
  margin: 40px 25px 10px 0;
  width: 30%;
}

/* 画像 */
.panel-body {
  border-radius: 5px;
  border-top-left-radius: 0;
  height: 150px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.panel-pref {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  color: #fff;
  display: inline-block;
  font-family: "Kosugi Maru", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  padding: 3px 7px 0px 7px;
}

.kanto {
  background: #c33;
}

.chubu {
  background: #f60;
}

.tohoku {
  background: #069;
}

.hokkaido {
  background: #306;
}

.kinki {
  background: #93f;
}

.shikoku {
  background: #393;
}

.chugoku {
  background: #f39;
}

.kyusyu {
  background: #990;
}

.panel-title {
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
  color: #fff;
  font-size: 1.6rem;
  max-height: 30%;
  padding: 0 5px;
  position: absolute;
  width: 100%;
}

.panel-date {
  font-size: 1.3rem;
}

.img.-index {
  object-fit: cover;
  height: 150px;
  width: 100%;
}

.a.a-under {
  text-decoration: underline;
}

/* ソート */
.sort-ul {
  color: #666;
  font-size: 1.4rem;
  overflow: hidden;
  padding-left: 1.5rem;
}

.sort-li {
  float: left;
}
.sort-li:hover {
  text-decoration: underline;
}

.sort-li + .sort-li {
  padding-left: 10px;
  border-left: 1px solid #ddd;
  margin-left: 10px;
}

.side-container + .side-container {
  margin-top: 15px;
}

/*--------------------------------
  login
--------------------------------*/

.login-main {
  overflow: hidden;
}

.ul-login {
  overflow: hidden;
}

.login-li {
  cursor: pointer;
  float: left;
  font-size: 1.9rem;
  height: 40px;
  letter-spacing: 10px;
  line-height: 40px;
  text-align: center;
  width: 250px;
}

.login-li.li-entry {
  background-color: #ccc;
  color: #000;
}

.login-li.li-login {
  background: #444;
  color: #fff;
}

.login-panel-group {
  width: 100%;
}

.login-panel {
  padding: 20px 50px;
  display: none;
}
.login-panel.is-show {
  display: block;
}

.login-panel.panel-entry {
  background: #ccc;
  border: solid 2px #ccc;
}

.login-panel.panel-login {
  background: #444;
  border: solid 2px #444;
  color: #fff;
}

.login-label {
  font-size: 1.8rem;
  padding: 20px 0;
}

.login-label .input-text {
  border-radius: 10px;
  height: 50px;
  margin-top: 4px;
  padding: 5px 10px;
  width: 100%;
}

.input-text.-entry {
  border: solid 1.5px #ccc;
}

.input-text.-login {
  border: solid 1.5px #444;
}

.input-text.-entry:focus,
.input-text.-login:focus {
  outline: 0;
  border: solid 5px #9cf;
}

.login-span-pass {
  font-size: 1.4rem;
}

.login-save {
  margin-top: 10px;
}

.login-submit-container {
  height: 45px;
  margin: 20px 0;
  position: relative;
  width: 100%;
}

.login-submit-container.-pass_reissue {
  margin-top: 80px;
}

.login-submit,
.submit-mypage-edit {
  border-radius: 10px;
  font-size: 1.8rem;
  height: 100%;
  position: absolute;
  right: 0;
}

.login-submit.-entry {
  border: 1px solid #ccc;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
  width: 80px;
}

.login-submit.-login {
  border: 1px solid #fff;
  box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.3);
  letter-spacing: 2px;
  width: 130px;
}

.login-passforget {
  font-size: 1.4rem;
  padding-bottom: 20px;
}

.login-passforget .login-a-passforget {
  text-decoration: underline;
}

.back-index-login {
  border: solid 1.5px #666;
  border-radius: 20px;
  float: right;
  font-size: 1.4rem;
  padding: 3px 0;
  position: relative;
  right: 20px;
  text-align: center;
  top: -30px;
  width: 140px;
}

/* パスワード再発行 */
.title-pass_reissue {
  font-size: 2rem;
  margin-bottom: 35px;
  text-align: center;
}

.p-login-form {
  font-size: 1.4rem;
  padding-bottom: 20px;
}

.p-login-form + .login-submit-container.-pass_reissue {
  margin-top: 60px;
}

/* エラーメッセージ */
.area-msg {
  padding: 0;
  padding-left: 15px;
  color: red;
}
.area-msg.-regist {
  margin-top: 15px;
  margin-bottom: -14px;
}

/* エラー */
.input-text.err-post {
  border: 3px solid #f66;
}

/*--------------------------------
  mypage
--------------------------------*/
.sec-mypage {
  margin-bottom: 30px;
  width: 100%;
}

.mypage-title-wrap {
  position: relative;
}

.mypage-title {
  border-radius: 10px;
  font-size: 1.8rem;
  height: 40px;
  letter-spacing: 0.03em;
  line-height: 40px;
  padding-left: 15px;
  width: 100%;
}

.mypage-title.-area {
  background: #cff;
  color: #39f;
}

.mypage-title.-created {
  background: #fec;
  color: #f93;
}

.mypage-title.-favo {
  background: #fcf;
  color: #c6c;
}

.mypage-title.-comment {
  background: #cfc;
  color: #393;
}

.mypage-title-jump {
  border-radius: 15px;
  color: #eee;
  font-size: 1.3rem;
  height: 60%;
  line-height: 24px;
  position: absolute;
  top: 50%;
  right: 10px;
  text-align: center;
  transform: translateY(-50%);
  width: 120px;
}

.mypage-title-jump.-area {
  background: #36c;
}

.mypage-title-jump.-created {
  background: #f63;
}

.mypage-title-jump.-favo {
  background: #c36;
}

.mypage-number-display {
  font-size: 1.4rem;
  padding-right: 15px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.selectbox.-mypage {
  margin-top: 10px;
  width: 150px;
}

.no-favo-msg {
  margin-left: 15px;
  margin-top: 29px;
}

/* mypage-edit
--------------------------------*/
.mypage-edit-title {
  border-left: solid 8px #333;
  font-size: 2rem;
  margin-bottom: 24px;
  padding: 5px 0 5px 10px;
}

.mypage-edit-body {
  border: solid 2px #333;
  border-radius: 28px;
}

.form-mypage-edit {
  margin: 0 auto;
  padding: 50px 20px;
  width: 450px;
}

.mypage-edit-caution {
  color: #f33;
  font-size: 1.6rem;
  padding-left: 15px;
}

/* プロフ編集 プロフ画像 */
.mypage-edit-area-drop {
  background: #ddd;
  color: #aaa;
  height: 250px;
  line-height: 250px;
  position: relative;
  text-align: center;
  width: 100%;
}

.mypage-edit-input-file,
.regist-input-file {
  height: 250px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.mypage-edit-prev-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* イベント作成用フォーム */
.form-regist_event {
  padding: 30px 20px;
  position: relative;
  overflow: hidden;
}

.label-mypage-edit,
.block-regist {
  font-size: 1.8rem;
}

.label-mypage-edit:not(:first-child) {
  padding-top: 30px;
}

.block-regist:not(:first-of-type) {
  padding-top: 15px;
}

.block-regist {
  padding-left: 15px;
  position: relative;
}

.block-regist::before {
  background: #f93;
  border-radius: 3px;
  content: "";
  height: 30px;
  position: absolute;
  top: 12.5px;
  left: 0;
  width: 4px;
}

.block-regist.-event_date {
  overflow: hidden;
}

/* イベント作成 input type=date */
.wrap-input-date-mypage,
.wrap-input-time-regist {
  float: left;
  position: relative;
  margin-right: 20px;
}

.wrap-input-date-mypage {
  width: 150px;
}

.event_date-span {
  float: left;
  margin-right: 20px;
  padding-top: 5px;
}

/* イベント作成 日付入力フォーム */
.date-mypage-edit {
  border: 1px solid #999;
  border-radius: 10px;
  padding: 10px;
}

/* イベント作成　チェックボックス内フォントサイズ */
.regist-checkbox-font {
  font-size: 1.6rem;
}

.date-mypage-edit.-regist {
  padding: 5px;
}

.input-text.-mypage-edit {
  border: solid 1px #aaa;
  border-radius: 10px;
  height: 50px;
  margin-top: 4px;
  padding: 5px 10px;
  width: 100%;
}

.input-text.-mypage-edit.-regist {
  height: 40px;
}

.input-text.-mypage-edit.-regist_target {
  height: 30px;
  width: 130px;
}

.-mypage-edit.-regist_people {
  height: 30px;
  width: 80px;
}

.in_regist {
  font-size: 1.6rem;
}

/* input text の中身 */
.input-text.-mypage-edit.-regist_target::-webkit-input-placeholder {
  font-size: 1.3rem;
}

.selectbox.-mypage-edit {
  height: 50px;
  margin-top: 4px;
  width: 200px;
}

/* イベント登録用 */
.selectbox.-mypage-edit.-regist {
  height: 36px;
}

.selectbox.-mypage-edit::before,
.wrap-input-date-mypage::before,
.wrap-input-date-mypage::before {
  height: 10px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%) rotate(+45deg);
  width: 10px;
}

.select-mypage-edit {
  border: solid 1px #aaa;
  border-radius: 10px;
  font-size: 1.6rem;
  height: 100%;
  width: 100%;
}

/* イベント登録用textarea */
.textarea-regist {
  border: 1px solid #999;
  border-radius: 20px;
  font-size: 1.7rem;
  line-height: 1.5;
  padding: 0.5em;
  resize: none;
  width: 100%;
}

/* イベント登録用textarea下のカウンター */
.regist-counter-text {
  text-align: right;
  padding-right: 5px;
}

/* イベント作成 開催時間 */
.time-mypage-edit.-regist {
  border: 1px solid #aaa;
  border-radius: 10px;
  padding-left: 10px;
}

.submit-container-mypage-edit {
  height: 50px;
  margin-top: 50px;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.submit-container-mypage-edit.-withdraw {
  margin: 0;
}

.submit-mypage-edit {
  background: #333;
  border: solid 1px #333;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 1.9rem;
  height: 50px;
  right: -100px;
  width: 130px;
}

.submit-mypage-edit.-withdraw {
  left: 50%;
  transform: translateX(-50%);
}

.submit-mypage-edit.-regist {
  right: 0;
}

.title-withdraw {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 35px;
}

/* イベント作成 画像コンテナ */
.img_drop-container {
  overflow: hidden;
}

.area-img_drop.-regist {
  float: left;
  width: 30%;
  margin-right: 25px;
}

.area-img_drop.-regist:last-child {
  margin-right: 0;
}

.img-drop {
  border-radius: 10px;
  font-size: 1.5rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.img-drop.-regist {
  border: 1px dotted #aaa;
  color: #666;
  height: 133px;
  line-height: 133px;
}

.img-drop.-prof_edit {
  border: 1px solid #aaa;
  border-radius: 50%;
  color: #666;
  height: 150px;
  line-height: 150px;
  margin-top: 5px;
  width: 150px;
}

.regist-input-file {
  height: 100%;
}

/* img角丸 */
.prev-img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.prev-img.-prof_edit {
  object-fit: cover;
}

/* display非表示 */
.no-display {
  display: none;
}

/* ソートのセレクト */
.select.-mypage {
  border-radius: 5px;
}

/*--------------------------------
  eventDetail
--------------------------------*/
.display-header {
  overflow: hidden;
}
.display-category {
  float: left;
  font-size: 1.4rem;
  line-height: 2;
}

.display-edit {
  color: #fff;
  float: right;
  overflow: hidden;
}

.display-event {
  float: left;
  font-size: 1.8rem;
}

.display-event-border {
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
}

.display-event:not(:last-child) {
  margin-right: 30px;
}

.display-event.event-edit {
  background: #fc0;
  border-color: #fa3;
  padding: 5px 30px;
}

.event-delete {
  background: #f69;
  border-color: #f36;
}

.icn-edit {
  color: #fff;
  padding-right: 1rem;
}

.icn-edit.-delete {
  background: #f69;
  padding: 9px 30px;
}

.icn-edit.-delete:hover {
  cursor: pointer;
}

.span-pref {
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.eventDetail-main {
  margin-top: 20px;
}

.detail-header {
  margin-top: 5px;
}

.detail-header-heading {
  border-bottom: solid 1px #ccc;
}

.detail-header-title {
  font-size: 2.5rem;
}

.detail-header-box {
  background: #eee;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
}

.detail-header-box-period {
  margin-bottom: 6px;
  overflow: hidden;
}

.detail-header-box-icon {
  float: left;
  margin-right: 20px;
  width: 70px;
}

.span-detail-header-open {
  background: #39f;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  min-width: 70px;
  padding: 1px;
  text-align: center;
}

.span-detail-header-text {
  font-size: 1.4rem;
}

.detail-main {
  margin-top: 30px;
}

.detail-main-header-mainimg {
  margin: 0 auto;
  max-height: 500px;
  width: 80%;
}

.img-detail-main {
  max-height: 500px;
  object-fit: contain;
  width: 100%;
}

.detail-main-header-subimg {
  margin-top: 30px;
}

.ul-detail-main-subimg {
  text-align: center;
}

.li-detail-main-subimg {
  display: inline-block;
  margin: 0 10px;
}

.img-detail-sub {
  height: 150px;
  object-fit: cover;
  width: 150px;
}

.detail-main-body {
  margin-top: 30px;
}

.detail-main-title {
  color: #393;
  font-size: 1.8rem;
}

.detail-main-info-body {
  margin-top: 10px;
}

.detail-main-article {
  line-height: 1.8;
  margin: 0 auto;
  width: 75%;
}

.detail-main-footer {
  margin-top: 40px;
}

.detail-date-info {
  font-size: 1.8rem;
  padding: 5px 10px;
  border-top: solid 3px #aaa;
  border-right: solid 1px #bbb;
  border-left: solid 1px #bbb;
}

.detail-main-table {
  border: solid 1px #bbb;
  border-collapse: collapse;
  width: 100%;
}

.detail-date-row:nth-child(odd) {
  background: #eee;
}

.detail-date-th,
.detail-date-td {
  padding: 10px 0;
}

.detail-date-th {
  width: 25%;
}

.detail-date-td {
  padding-left: 30px;
}

.back-index-eventDetail {
  margin-top: 30px;
}

.return-top-wrap {
  position: fixed;
  right: 50px;
  bottom: 80px;
}

.return-top {
  background: #ccc;
  border: 0px;
  border-radius: 50%;
  height: 50px;
  position: relative;
  width: 50px;
}

.return-top:hover {
  cursor: pointer;
}

.return-top::before {
  border-top: 6px solid #fff;
  border-left: 6px solid #fff;
  content: "";
  height: 20px;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translateX(-50%) rotate(+45deg);
  width: 20px;
}

/* お気に入り */
.add-like {
  background: #fff;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fff),
    to(#eee)
  );
  border: 1px solid #aaa;
  border-radius: 8px;
  box-shadow: inset 1px 1px 1px #fff;
  color: #555;
  font-size: 1.3rem;
  padding: 2px 10px;
}

.add-like:hover {
  cursor: pointer;
}

.icn-like {
  color: #ccc;
}

.add-like.active > .icn-like {
  color: #f69;
}

.btn-text {
  padding-left: 10px;
}

/*--------------------------------
  js用
--------------------------------*/
.js-fixed {
  position: fixed;
  top: 0;
}

/* イベント詳細ページ用フェードイン */
/* @keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
} */

.js-fadein {
  /* display: none; */
  opacity: 0;
  transition: opacity 1s, visibility 0s ease 1s;
  visibility: hidden;
}

.js-fadein.is-fadein {
  /* display: block;
  animation-name: fadein;
  animation-duration: 1s; */
  opacity: 0.5;
  transition-delay: 0s;
  visibility: visible;
}

/* サクセスメッセージ */
.js-success-msg {
  background: #fff;
  border-radius: 20px;
  color: #333;
  font-size: 1.9rem;
  opacity: 0;
  padding: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 1s;
  visibility: hidden;
  z-index: 3;
}

/* サクセスメッセージ用フェードイン */
.js-success-msg.is-show {
  opacity: 0.9;
  visibility: visible;
}
